/* #navbar{
    background-color: #061e5e;
} */
*{
    border-radius: 0 !important;

}
.navbar-toggler-icon{
    color: #0b3559;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23373737' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 10px;
}
.header-top{
    background-color: #0b3559;
    position: relative;
    color: white;
    z-index: 1;
    font-size: .8375rem;
    line-height: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}

.header-top a{
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 1.0rem;
}
.header-top .info{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    float: left;
}
.header-top .social-icon{
    position: relative;
    margin-left: auto;
    float: right;
}
.nav-link{
    font-family: 'Roboto Slab', serif;
    padding-left: 10px;
    font-weight: bold;
    color: #0b3559;

}
p{
    font-family: 'Zilla Slab', serif;
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif;
}
h2,h4, a{
    color: #0b3559;
}
samp{
    color: brown;
}
#imageSlider #carouselExampleFade{
    position: relative;
}
.banner-caption{
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.brand-heading{
    color: #fff;
}
.service{
    margin-top: 20px;
    margin-bottom: 20px;
}
.item {
    margin-bottom: 24px;
    text-align: center;
}
.item .svg-wrap img {
    display: inline-block;
    width: 78px;
    height: 78px;
    margin-bottom: 10px;
}
 .item .caption h4 a{
     text-decoration: none;
 }
 .item .caption h4 {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

#features{
    background-color: #f4f4f4;
    padding-top: 65px;
    padding-bottom: 65px;
}
#features .feature-list .card:hover{
    border: #183866;
}

.home-content{
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
}

.home-content .feature-video{
    position: relative;
    z-index: 1;
    padding: 10px 10px 10px 0;
    overflow: hidden;
}

.video-warpper .video-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    text-align: center;
    padding: 30px;
}

.video-warpper:hover .video-caption i {
    animation-play-state: paused;
    color: red;

}
.video-warpper .video-caption i{
    font-size: 3.5rem;
    animation: mover 1s infinite alternate;
    transition: .3s linear color;
    color: white;
}

#featured-review{
    position: relative;
    padding-top:20px;
    padding-bottom:50px;
    background-color: #f4f4f4;
}

#featured-review .side-img{
    color: #fff;
    background-color: #fff;
    padding: 20px;
    height: 200px;

}

#featured-review .review-title{
    color: #0b3559;
    text-align: center;
    padding-bottom: 30px;
}
/* #featured-review .item{
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    padding-left: 15px;
    text-align: center;
} */
.newsletter{
    background-color: #0963a0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.newsletter-title{
    text-align: center;
    color: fff;
}
.newsletter .newsletter-title h3{
    color: #fff;
    font-size: 1.5rem;
}
.newsletter .newsletter-title p{
    color: #fff;
    font-size: 0.95rem;
}
.newsletter form{
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    padding-left: 15px;
    text-align: center;
}
.newsletter form .form-group{
    margin-bottom: 0px;
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    padding-left: 10px;

}
.newsletter form .form-group .form-control{
    height: 44px;
    border-color: #dfe2e4;
    width: 100%;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0;
    font-size: 0.875rem;
}
aside{
    display: block;
}

#footer {
    background-color: #dfe2e4;
    color: #0b3559;
    padding-top: 75px;
    
}
.footer-nav {
    overflow: hidden;
}
span{
    font-size: small;
    margin:0rem;
}
#footer h3 {
    font-size: 20px;
    color: #0b3559;
    margin-bottom: 20px;
    font-weight: 600;
}
.footer-nav ul {
    padding: 0;
    margin: 0 -12px;
}
.footer-nav ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.footer-nav ul>li {
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    list-style: none;
}
.footer-nav ul>li a {
    position: relative;
    display: block;
    padding-left: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #0b3559;
    font-weight: 600;
}
.contact-dtl ul {
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.contact-dtl ul li {
    list-style: none;
    line-height: 20px;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: #0b3559;
}
.contact-dtl ul li span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    font-size: 16px;
    color: #0b3559;
    left: 0;
    width: 23px;
    text-align: center;
    top: 0;
    line-height: 20px;
    position: relative;
}
#footer .footer-last{
    background-color: #0b3559;
    padding-top: 24px;
    margin-top: 40px;
    padding-bottom: 24px;
    font-size: 0.935rem;
}
#footer .footer-last .footer-last-holder{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap:wrap-reverse;
    -webkit-box-pack: justify;
    justify-content:space-between;
}
#footer .footer-last .pay-online-link{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
#footer .footer-last .pay-online-link h4 {
    font-weight: 500;
    margin: 0 10px 0 0;
    font-size: .9375rem;
    color: #fff;
}
#footer a {
    text-decoration: none;
}
[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#footer .footer-last .pay-online-link img {
    width: 60px;

}
#footer .footer-last .copy-right {
    font-weight: 400;
    color: #fff;
}

/* Login Page */

#wrapper {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: table;
    position: relative;
    table-layout: fixed;
}
.login-page {
    position: relative;
    background-image: url(../images/imagine-slide-bg.svg), -webkit-gradient(linear, right top, left top, from(#183866), to(#0b3559));
    background-image: url(../images/imagine-slide-bg.svg), -webkit-linear-gradient(right, #183866, #0b3559);
    background-image: url(../images/imagine-slide-bg.svg), -o-linear-gradient(right, #183866, #0b3559);
    background-image: url(../images/imagine-slide-bg.svg), linear-gradient(to left, #183866, #0b3559);
    padding: 15px;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}
.login-page .login-wrapper {
    max-width: 320px;
    margin: 100px auto;
}
.login-module {
    background-color: #dfe5ee;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}
.login-module .login-module-body {
    padding-top: 30px;
    padding-bottom: 30px;
}
.login-module .login-module-footer {
    text-align: center;
}
.login-module .login-module-body form {
    display: block;
    margin-top: 0em;
}
.login-module .login-module-body .form-group {
    margin-bottom: 15px;
}
.login-module .login-module-body .form-control {
    border-radius: 3px;
    font-weight: 500;
    border: 0;
    border-radius: 21px;
    font-size: .8375rem;
    -webkit-box-shadow: 0 0 15px rgba(24, 56, 102, 0.1);
    box-shadow: 0 0 15px rgba(24, 56, 102, 0.1);
    color: #183866;
    text-align: center;
}
.login-module .login-module-body button[type=submit] {
    margin-top: 10px;
    font-weight: 500;
    -webkit-box-shadow: 0 10px 30px 0 rgba(24, 56, 102, 0.34);
    box-shadow: 0 10px 30px 0 rgba(24, 56, 102, 0.34);
}
.about-us{
    background-color: #0963a0;
    color: #fff;
    padding-top: 40px;
}
.about-us h2{
    color: #fff;
    font-size: 50px;
}
.about-us .about-title .about-img{
    position: relative;
    transform: rotate(0deg);

}
.about-story{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-story .story-header{
    display: flexbox;
    margin: 10px;
    
}
.about-story .story-header h3{
    color: #0b3559;
    font-size: 40px;

    
}
.about-story .story-header h3 span{
    border-bottom: 4px solid #0963a0;

    
}
.about-story .story-header img{
    height: 70px;
    margin-top:0px; 
    margin-left: 10px;

}
.about-story .stry-1{
    position: relative;
    height: 250px;
    width: 250px;
    margin-left: 100px;
    top: -50px;
}
.about-story .stry-2{
    position: relative;
    height: 250px;
    width: 250px;
    margin-left: 100px;
    top: -50px;
}

/* profile Styles */
.profile{
    background-color: #dfe2e4;
    padding-top: 20px;
}
#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}

.cover-details{
    background-color: #0b3559;
    color: #fff;
}
/* Blog Styles */
#blog{
    margin-top: 20px;
}

.title-with-sorting{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
}
.title-with-sorting .main-title h2{
    font-size: 2.5rem;
    color: #0b3559;
    font-weight: 700;
    letter-spacing: -.3px;
}
div{
    display: block;
}
.title-with-sorting .sorting {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
}
.title-with-sorting .sorting label{
    font-weight: 600;
    margin-right: 10px;
    color: #373737;

}
label{
    display: inline-block;
    margin-bottom: .5rem;
}
.form-group {
    margin-bottom: 1rem;
}
.custom_select {
    position: relative;
    display: block;
    overflow: hidden;
}
.title-with-sorting .sorting .form-control{
    min-width: 200px;
    font-size: .8375rem;
    height: 42px;
    border-radius: 2px;
    border: 2px solid #dfe2e4;
}
.blog-list .item-wrap{
    text-align: center;
    margin-bottom: 24px;

}
.blog-list .item-wrap .intro-img{
    position: relative;

}
.blog-list .item-wrap .intro-img a{
    color: #0b3559;
    text-decoration: none;
    background-color: transparent;
    
}
.fill{
    width: 100%;
}
.blog-list .item-wrap .intro-img .date {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: -webkit-gradient(linear,0 0,100% 0,from(#000),to(rgba(0,0,0,.1)));
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 30px 8px 15px;
}
.blog-list .item-wrap .caption {
    padding: 15px 0;
    font-size: .8375rem;
}
.blog-list .item-wrap .caption h4 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.blog-list .item-wrap .caption p {
    color: #525252;
    margin-bottom: 0;
}
/* Single Blog*/
.banner.inner {
    position: relative;
    overflow: hidden;
    border-bottom: none;
}
.bg-stretch {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}
.banner.inner .banner-caption {
    text-align: center;
    font-size: 28px;
    color: #fff;
    top: auto;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    bottom: 35px;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0,0,0,.7);
}
.banner .banner-caption {
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    font-size: 1.17188rem;
    text-align: center;
}
.bg-stretch img {
    max-width: none;
    max-height: 577.266px;
    width: 100%;
    height: 100%;
}

.sidebar-box {
    margin-bottom:10px;
    position: relative;
    font-size: 15px;
    width: 100%;
}
.search-form {
    background: #f2f2f2;
    position: relative;
    padding: 10px;
}
.search-form .form-group {
    position: relative;
    margin-bottom: 0;
}
.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
}   
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}   
.blog-body img{
    width: 100%;
} 
.taging ul {
    padding: 0;
    margin: -5px;
}
.taging ul>li {
    list-style: none;
    padding: 5px;
    display: inline-block;
}
.taging.blog ul .item {
    padding: 0 12px;
    line-height: 30px;
    border-radius: 3px;
    font-size: .8375rem;
}
.taging ul .item {
    font-weight: 500;
    padding: 0 30px;
    line-height: 41px;
    border: 2px solid #f7941e;
    background-color: transparent;
    display: inline-block;
    border-radius: 2px;
    color: #f7941e;
    -webkit-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
    font-size: .875rem;
}

.taging a {
    text-decoration: none;
    color: #fff;
}
.taging a:hover{
    background-color: #f7941e;
    color: #fff;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .sidebar-box{
        display:block;
    }
 }

 /* Contact Styles */
 .sidebar-module{
     border: 1px solid #dfe2e4;
     margin-bottom: 20px;
 }
 .sidebar-module .module-title {
    padding: 16px 0;
    position: relative;
    font-size: 1.125rem;
    margin-bottom: 20px;
    color: #373737;
    text-transform: uppercase;
    background-color: #dfe2e4;
    z-index: 1;
}

.sidebar-module form .form-group{
    margin-left: 20px;
    margin-right: 20px;
}
.sidebar-module form button{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
/* Partner Styles */
.partner-with-us{
    padding: 10px;
    color: #fff;
    background-color: #0963a0;
}
.partner-with-us .title-main-partner h2{
    color: #fff;
}
.body-partner .contain-links .div-links{
    font-size: 1.75rem;
    color: #0963a0;
    padding: 10px;
}
.body-partner .contain-links .div-links a{
    font-size: 1.75rem;
    color: #0963a0;
    padding: 10px;
}